opencv-python
numpy
pyautogui
pygetwindow
pynput
requests
pyyaml
PySide6
ruamel.yaml
pyinstaller
pywin32; sys_platform == "win32"
windows-capture ; sys_platform == "win32"
mss ; sys_platform == "darwin"
pyobjc-framework-Quartz ; sys_platform == "darwin"